<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>Lista de Tarefas</title>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link
	href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700'
	rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="/css/normalizeCSS.css" />
<link rel="stylesheet" type="text/css" href="/css/estilo.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="http://files.codepedia.info/uploads/iScripts/html2canvas.js"></script>

</head>

<body class="addTask">

	<div>
		<div class="voltar">
			<td><a th:href="@{'/'}"> Voltar</a></td>
		</div>
		<div id="titleListName">
			<h1>
				Lista:
				<h1 data-th-text="${lista.name}"></h1>
			</h1>
		</div>
	</div>
	<div class="create-task">
		<form method="post" name="comment_form" id="form"
			action="/list/newTask">
			<div class="form">
				<input type="text" id="titulo" name="titulo" placeholder="Name" />
				<select name="prioridade" class="option">
					<option value="Alta">Alta</option>
					<option value="Media">Média</option>
					<option value="Baixa">Baixa</option>
				</select> <select name="categoria" class="option" id="option-category">
					<option value="Estudo">Estudo</option>
					<option value="Casa">Casa</option>
					<option value="Final de semana">Final de semana</option>
				</select>
				<textarea rows="5" class="form-control" id="descricaoCreate"
					name="descricao" placeholder="Descrição"></textarea>
			</div>
			<input type="hidden" id="lista_id" rows="5" class="form-control"
				name="lista_id" th:value="${lista.id}" />

			<button type="submit" id="submit-addCreate" class="btn btn-primary">Submit</button>
		</form>

	</div>
	<div>

		<div class="level-priority">
			<h4>Consulta de cores:</h4>
			<h5 style="color: #E3372E">Prioridade Alta</h5>
			<h5 style="color: #FCF64C">Prioridade Média</h5>
			<h5 style="color: #69C08A">Prioridade Baixa</h5>
		</div>
		<div class="order">
			<div class="name-order">
				<h4 class="">Ordenar por:</h4>
			</div>
			<div class="order-buttons">
				<div class="order-name">
					<div class="order-name-crescent">
						<form action="/orderTaskNameCrescent" method="get"
							name="orderName" id="orderName">
							<input type="hidden" id="lista_id" rows="5" class="form-control"
								name="lista_id" th:value="${lista.id}" />
							<button type="submit" id="submit_order" class="btn btn-primary">Nome
								Crescente</button>
						</form>
					</div>
					<div class="order-name-decrescent">
						<form action="/orderTaskNameDecrescent" method="get"
							name="orderName" id="orderName">
							<input type="hidden" id="lista_id" rows="5" class="form-control"
								name="lista_id" th:value="${lista.id}" />
							<button type="" id="submit_order" class="btn btn-primary">Nome
								Decrescente</button>
						</form>
					</div>
				</div>
				<div class="order-priority">
					<div class="order-priority-high">
						<form action="/orderPriorityHigh" method="get"
							name="orderPriority" id="orderPriority">
							<input type="hidden" id="lista_id" rows="5" class="form-control"
								name="lista_id" th:value="${lista.id}" />
							<button type="submit" id="submit_order" class="btn btn-primary">Prioridade
								Alta</button>
						</form>
					</div>
					<div class="order-priority-low">
						<form action="/orderPriorityLow" method="get" name="orderPriority"
							id="orderPriority">
							<input type="hidden" id="lista_id" rows="5" class="form-control"
								name="lista_id" th:value="${lista.id}" />
							<button type="submit" id="submit_order" class="btn btn-primary">Prioridade
								Baixa</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="html-content-holder">
		<div class="tasktodo">
			<h3 class="nameTask">
				Tarefas para fazer:
				<h3 class="name-list" data-th-text="${listaSize}"></h3>
			</h3>
			<div class="task-to-do">
				<table class="table table-striped" id="task-to-do">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Concluido</th>
							<th>Editar</th>
							<th>Excluir</th>
						</tr>
					</thead>
					<tbody>
						<th:block data-th-each="list : ${nameTask}">
							<tr th:if="${list.priority} == 'Alta'"
								style="background-color: #E3372E">
								<td class="titulo" data-th-text="${list.title}"></td>
								<td class="completed-detalhes"><a
									th:href="@{'/list/{id}/taskToDo/{idTask}/detalhesTask'
						(id=${lista.id}, idTask=${list.id})}"
									class="completed-detalhes" th:attr="name=${list.title}">Detalhes
								</a></td>
								<td><a
									th:href="@{'/list/{id}/taskForCompleted/{idTask}'(id=${lista.id}, 
						idTask=${list.id})}"
									class="completed" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-ok"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/edit/task/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="edit" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-edit"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/remove/taskToDo/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="remove" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-remove"></i>
									</span>
								</a></td>
							</tr>
							<tr th:if="${list.priority} == 'Media'"
								style="background-color: #FCF64C">
								<td class="titulo" data-th-text="${list.title}"></td>
								<td class="completed-detalhes"><a
									th:href="@{'/list/{id}/taskToDo/{idTask}/detalhesTask'
						(id=${lista.id}, idTask=${list.id})}"
									class="completed" th:attr="name=${list.title}">Detalhes </a></td>
								<td><a
									th:href="@{'/list/{id}/taskForCompleted/{idTask}'(id=${lista.id}, 
						idTask=${list.id})}"
									class="completed" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-ok"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/edit/task/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="edit" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-edit"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/remove/taskToDo/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="remove" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-remove"></i>
									</span>
								</a></td>
							</tr>
							<tr th:if="${list.priority} == 'Baixa'"
								style="background-color: #69C08A">
								<td class="titulo" data-th-text="${list.title}"></td>
								<td class="completed-detalhes"><a
									th:href="@{'/list/{id}/taskToDo/{idTask}/detalhesTask'
						(id=${lista.id}, idTask=${list.id})}"
									class="completed" th:attr="name=${list.title}">Detalhes </a></td>
								<td><a
									th:href="@{'/list/{id}/taskForCompleted/{idTask}'(id=${lista.id}, 
						idTask=${list.id})}"
									class="completed" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-ok"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/edit/task/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="edit" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-edit"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/remove/taskToDo/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="remove" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-remove"></i>
									</span>
								</a></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
			<div class="remove-all-to-do">
				<form action="/removeAllTaskToDo" method="get" name="removeAllTask"
					id="removeAllTask">
					<input type="hidden" id="lista_id" rows="5" class="form-control"
						name="lista_id" th:value="${lista.id}" />
					<button type="submit" id="submit" class="btn btn-primary">Remover
						todas as tarefas</button>
				</form>
			</div>
		</div>
		<div class="taskcomplet">
			<h3 class="nameTask">
				Tarefas completas:
				<h3 class="name-list" data-th-text="${taskCompletedSize}"></h3>
			</h3>
			<div class="task-completed">
				<table class="table table-striped" id="task-completed">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Desfazer</th>
							<th>Editar</th>
							<th>Excluir</th>
						</tr>
					</thead>
					<tbody>
						<th:block data-th-each="list : ${taskComplet}">
							<tr th:if="${list.priority} == 'Alta'"
								style="background-color: #E3372E">
								<td class="titulo" data-th-text="${list.title}"></td>
								<td class="completed-detalhes"><a
									th:href="@{'/list/{id}/taskCompleted/{idTask}/detalhesTask'
						(id=${lista.id}, idTask=${list.id})}"
									class="completed" th:attr="name=${list.title}">Detalhes </a></td>
								<td><a
									th:href="@{'/list/{id}/taskForToDo/{idTask}'(id=${lista.id}, 
						idTask=${list.id})}"
									class="completed" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-ok"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/edit/task/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="edit" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-edit"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/remove/taskCompleted/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="remove" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-remove"></i>
									</span>
								</a></td>
							</tr>
							<tr th:if="${list.priority} == 'Media'"
								style="background-color: #FCF64C">
								<td class="titulo" data-th-text="${list.title}"></td>
								<td class="completed-detalhes"><a
									th:href="@{'/list/{id}/taskCompleted/{idTask}/detalhesTask'
						(id=${lista.id}, idTask=${list.id})}"
									class="completed" th:attr="name=${list.title}">Detalhes </a></td>
								<td><a
									th:href="@{'/list/{id}/taskForToDo/{idTask}'(id=${lista.id}, 
						idTask=${list.id})}"
									class="completed" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-ok"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/edit/task/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="edit" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-edit"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/remove/taskCompleted/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="remove" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-remove"></i>
									</span>
								</a></td>
							</tr>
							<tr th:if="${list.priority} == 'Baixa'"
								style="background-color: #69C08A">
								<td class="titulo" data-th-text="${list.title}"></td>
								<td class="completed-detalhes"><a
									th:href="@{'/list/{id}/taskCompleted/{idTask}/detalhesTask'
						(id=${lista.id}, idTask=${list.id})}"
									class="completed" th:attr="name=${list.title}">Detalhes </a></td>
								<td><a
									th:href="@{'/list/{id}/taskForToDo/{idTask}'(id=${lista.id}, 
						idTask=${list.id})}"
									class="completed" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-ok"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/edit/task/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="edit" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-edit"></i>
									</span>
								</a></td>
								<td><a
									th:href="@{'/list/{id}/remove/taskCompleted/{idTask}'(id=${lista.id}, 
		                idTask=${list.id})}"
									class="remove" th:attr="name=${list.title}"> <span
										class="fa-stack"> <i class="glyphicon glyphicon-remove"></i>
									</span>
								</a></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
			<div class="remove-all-completed">
				<form action="/removeAllTaskCompleted" method="get"
					name="removeAllTask" id="removeAllTask">
					<input type="hidden" id="lista_id" rows="5" class="form-control"
						name="lista_id" th:value="${lista.id}" />
					<button type="submit" id="submit" class="btn btn-primary">Remover
						todas as tarefas</button>
				</form>
			</div>
		</div>
	</div>

</body>

</html>