body {
	font-family: 'Roboto', sans-serif;
	color: #333;
	height: 700px;
	margin: 0 auto;
	overflow: auto;
	background: #D4ECFB;
}

h1.top {
	text-align: center;
}

nav .menu {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}

.header {
	width: inherit;
	margin: 0 auto;
	overflow: auto;
	background: #6EC6F1;
}

.form {
	width: 500px;
	height: 40px;
	float: left;
}

.list {
	width: 600px;
	min-height: 200px;
	padding-top: 15px;
	margin-left: 180px;
}

.listTask {
	width: 960px;
	min-height: 400px;
	margin: 0 auto;
	overflow: auto;
}

.bem-vindo {
	width: 960px;
	height: 30px;
	text-align: center;
	padding-top: 140px;
	margin: 0 auto;
}

.remove-all-list {
	width: 960px;
	height: 40px;
	text-align: center;
}

.bem-vindo h1 {
	color: #C2C2C2;
}

#submit-menu {
	margin-left: 5px;
}

.links {
	float: right;
	height: 50px;
	width: 400px;
}

.form-control {
	height: inherit;
	width: 380px;
	display: inline;
}

ul li {
	list-style: none;
	display: inline;
	float: right;
	margin-top: 10px;
	padding-right: 14px;
}

.links li a {
	font-size: 16px;
	color: #FFFFFF;
}

.links a:hover {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 17px;
}

h4, h3, #titleListName h1 {
	display: inline;
}

#titleListName {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.filter-priority h4, .filter-category h4 {
	font-size: 14px;
}

.filter-priority {
	width: 630px;
	float: left;
	padding-bottom: 10px;
	margin-left: 45px;
}

.priority {
	text-align: right;
	margin-top: 30px;
}

.filter-category {
	width: 920px;
	position: relative;
	margin-left: 25px;
}

.category {
	margin-top: 30px;
	float: right;
}

#filter {
	margin-right: 5px;
}

.totalTarefas h1, .tarefas-fazer h1, .tarefas-completas h1 {
	display: inline;
}

.totalTarefas, .tarefas-fazer, .tarefas-completas {
	padding-bottom: 10px;
	padding-top: 10px;
}

.filtragem {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	margin-top: 30px;
	text-align: center;
}

.name-list {
	text-align: center;
}

.container {
	padding-left: 0;
	padding-bottom: 5px;
}

.voltar {
	width: 50px;
	height: 30px;
	display: inline;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}

.create-task {
	width: 450px;
	height: 150px;
	padding-top: 10px;
	padding-left: 25px;
	float: left;
}

body.edit, body.detalhes {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}

body.addTask, #html-content-holder {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}

#titulo {
	border: 1px solid #ccc;
	border-radius: 4px;
}

.option {
	margin-left: 5px;
}

#option-category {
	width: 120px;
}

#titulo {
	width: 180px;
}

#submit-add {
	width: 87%;
	margin-top: 130px;
	margin-left: 3px;
}

#submit-addCreate {
	width: 87%;
	margin-top: 50px;
	margin-left: 3px;
}

.completed-detalhes a {
	color: #FFFFFF;
	font-size: 15px;
}

.completed-detalhes a:hover {
	list-style: none;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 15px;
}

h3.nameTask {
	font-size: 20px;
	padding-left: 10px;
	margin-top: 3px;
}

.order {
	width: 620px;
	height: 40px;
	float: right;
	margin-top: 10px;
	margin-left: 40px;
}

.order-buttons {
	width: 500px;
	height: 40px;
	float: right;
	display: inline;
}

.name-order {
	width: 105px;
	height: 20px;
	float: left;
	padding-top: 2px;
	padding-left: 21px;
}

.name-order h4{
	font-size: 15px;
}

.level-priority {
	width: 400px;
	height: 90px;
	float: right;
	margin-top: 40px;
}

.level-priority h4 {
	display: block;
}

.level-priority h5 {
	display: inline;
	padding-right: 5px;
}

.order-name-crescent {
	width: 110px;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}

.order-priority-high{
	width: 110px;
	float: left;
	margin-bottom: 10px;
}

.order-name-decrescent, .order-priority-low {
	width: 120px;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}

#submit_order {
	padding: 3px 3px;
	display: inline;
	background: transparent;
	text-decoration: none;
	border: none;
	cursor: pointer;
	color: #00AEED;
	font-size:14px;
}

#submit_order:hover {
	color:#337ab7;
	font-size:15px;
}

#submit-filter {
	padding: 3px 6px;
}

.tasktodo {
	width: 450px;
	float: left;
	padding-left: 25px;
}

.taskCompleted {
	width: 600px;
	float: left;
}

.task-to-do {
	width: 430px;
	min-height: 290px;
	float: left;
	overflow: auto;
	margin-left: -10px;
	margin-top: 8px;
}

.remove-all-to-do {
	width: 450px;
	height: 50px;
	margin-left: 120px;
	float: left;
}

.task-completed {
	width: 430px;
	min-height: 290px;
	float: right;
	overflow: auto;
	margin-right: 10px;
	margin-top: 8px;
}

.remove-all-completed {
	width: 90px;
	height: 50px;
	margin-right: 230px;
	float: right;
}

.taskcomplet {
	width: 430px;
	float: right;
}

.nameList {
	margin-bottom: 25px;
}

.nameList h4 {
	font-size: 20px;
}

.edittask {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 25px;
}

.edit-task {
	width: 740px;
	height: 400px;
	padding-top: 60px;
	padding-left: 30%;
}

#descricaoCreateDetails {
	width: 370px;
	height: 131px;
	resize: none;
	margin-top: 5px;
	margin-left: 4px;
}

#descricaoCreate {
	width: 370px;
	height: 50px;
	resize: none;
	margin-top: 5px;
	margin-left: 4px;
}

.edit-task #submit-add {
	margin-top: 140px;
}

.form #titulo {
	width: 170px;
	height: 27px;
	resize: none;
	margin-left: 5px;
}

.labelDescricao {
	width: 30px;
	height: 20px;
	float: left;
	margin-top: 7px;
}

#submit-edit {
	width: 79%;
	margin-top: 140px;
	margin-left: 80px;
}

.select {
	float: right;
	margin-right: 60px;
	margin-top: 4px;
}

#descricaoEdit {
	width: 360px;
	height: 131px;
	resize: none;
	margin-top: 5px;
	float: right;
	margin-right: 60px;
}

.detalhes-task {
	width: 960px;
	height: 120px;
	margin-top: 15px;
}

.create-subtask {
	width: 425px;
	height: 250px;
	float: left;
}

.tasktoDo-subTask, .taskCompleted-subTask {
	width: 450px;
	float: right;
}

.addSubTask {
	width: 960px;
	min-height: 400px;
	padding-top: 25px;
}

.topDetalhes {
	width: 960px;
	height: 50px;
	margin-bottom: 30px;
}

.nameDetalhes {
	text-align: center;
}

#table-subTask {
	margin-top: 20px;
}

.taskCompleted-subTask {
	width: 300px;
}

.nameTask {
	text-align: center;
}

.subTask-completed {
	width: 300px;
	margin-left: 320px;
	margin-top: 20px;
	float: right;
}

#html-content-holder {
	background: #D4ECFB;
}

h4.preview{
	text-align: center;
	color: red;
}

#btn-Preview-Image{
	text-decoration: none;
	color: #00A54E;
	font-size: 15px;
}

#btn-Preview-Image:hover{
	color: #00A54E;
	font-size: 16px;
}

#btn-Convert-Html2Image{
	float: right;
	text-decoration: none;
	color: #00A54E;
	font-size: 15px;
}

#btn-Convert-Html2Image:hover{
	color: #00A54E;
	font-size: 16px;
}
